{% extends 'dashboard/base/base.html' %}
{% block title %} Create Blog Post | Dashboard {% endblock %}
{% block custom_css %} {% endblock %}

{% block body %}

<div class="container-fluid">
    {% if messages %}
<div class="messages" >
    {% for message in messages %}
        <div class="alert alert-primary" {% if message.tags %}
             class="{{ message.tags }}"{% endif %}>{{ message }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>

    {% endfor %}
</div>
{% endif %}

    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Blog Post</h6>
    </div>
    <div class="row " style="padding: 20px;">
      <div class="col-10 mx-auto">
    <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                <label for="title">Add Title </label>
                <input type="text" id="title" class="form-control" placeholder="Add Blog Title" name="title" required>
            </div>
            <div class="form-group">
                <label for="detail">Blog Details</label>
                <textarea class="form-control" id="detail" name='detail' rows="10" placeholder="Add Blog Details" required></textarea>
            </div>
            <div class="form-group">
                <label class="form-label" for="customFile">Add Featured Image</label>
                <input type="file" class="form-control" id="customFile"  name="image" />
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1" name="category">
                  <option value=""> Select Category</option>
                    {% for cat in category %}
                  <option>{{ cat }}</option>
                    {% endfor %}
                </select>
              </div>
                <input type="submit" value="submit">
        </form>
    </div>
    </div>
    



</div>

{% endblock %}
{% block script %}
<script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}