{% extends 'home/base/base.html' %}

{% block body %}
    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center bg-orange">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>{{catagory.name}}</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">

                        <li class="breadcrumb-item active" aria-current="page">{{catagory.name }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- BreadCrumb Ends -->

    <!--* Blog*-->
    <section id="mt_blog" class="nomargin">
        <div class="container">
            <div class="row">
                <div class="col-md-9 width70">
                    <div class="blog_post_sec">

                        {% for post in post %}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="blog-post_wrapper">
                            <div class="blog-post-image">
                                <img src="{{post.image_url}}" alt="image" class="img-responsive center-block post_img" />
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <ul>
                                        {% for cat in post.catagories.all %}
                                        {% if forloop.counter|divisibleby:2 %}
                                        <li class="cat-yellow"><a href="#" class="white">{{ cat }}</a></li>
                                        {% else %}
                                        <li class="cat-green mar-0"><a href="#" class="white">{{ cat }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="post-date">
                                    <p><a href="#">{{post.created_at|timesince}} ago</a></p>
                                </div>
                                <h2 class="entry-title">
                                    <a href="blog-details.html" class="">{{ post.title }}</a>
                                </h2>
                                <div class="item-meta">
                                    <span>by</span>
                                    <a class="author-name" href="author.html">{{ post.author.author.username }}</a>
                                </div>

                            </div>
                        </div>
                            {% else %}

                            <div class="blog-post_wrapper">
                                <div class="post-content text-right">
                                    <div class="post-category">
                                        <ul>
                                            {% for cat in post.catagories.all %}
                                            {% if forloop.counter|divisibleby:2 %}
                                            <li class="cat-yellow"><a href="#" class="white">{{ cat }}</a></li>
                                            {% else %}
                                            <li class="cat-green mar-0"><a href="#" class="white">{{ cat }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="post-date">
                                        <p><a href="#">{{post.created_at|timesince}} ago </a></p>
                                    </div>
                                    <h2 class="entry-title">
                                        <a href="blog-details.html" class="">{{post.title}}</a>
                                    </h2>
                                    <div class="item-meta">
                                        <span>by</span>
                                        <a class="author-name" href="author.html">{{post.author.author.username}}</a>
                                    </div>
                                </div>
                                <div class="blog-post-image">
                                    <img src="{{post.image_url }}" alt="image" class="img-responsive center-block post_img" />
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}


                      
                        <div class="pagination__wrapper">
                          <ul class="pagination">
                            <li><button class="prev" title="previous page">&#10094;</button></li>
                            <li><button title="first page - page 1">1</button></li>
                            <li><button>2</button></li>
                            <li><button class="active" title="current page">2</button></li>
                            <li><button>3</button></li>
                            <li><button>4</button></li>
                            <li><button class="next" title="next page">&#10095;</button></li>
                          </ul>
                        </div>  
                    </div>
                </div>
                <div class="col-md-3 width30">
                    <div class="sidebar">

                        <!-- widget author -->
                        <div class="widget widget-author text-center">
                            <div class="widget-image">
                                <img src="images/blog/author.png" alt="...">
                            </div>
                            <div class="widget-author-content">
                                <div class="widget-author mar-bottom-15">
                                    <h3 class="mar-bottom-5">Blork Lewson</h3>
                                    <span class="author-profession">Author Blogger</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                <div class="follow_us mar-bottom-15">
                                    <ul class="social_icons">
                                        <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <div class="widget-author-signature">
                                    <img src="images/blog/signature.png" alt="...">
                                </div>
                            </div>
                        </div>

                        <!-- widget category -->
                        <div class="widget widget-category">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Category</h3>
                                </div>
                                <div class="widget-category-main">
                                    <ul class="widget-category-list">
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Health</a></li>
                                        <li><a href="#">Article</a></li>
                                        <li><a href="#">Travel</a></li>
                                        <li><a href="#">Uncategorised</a></li>
                                        <li><a href="#">Popular</a></li>
                                        <li><a href="#">World</a></li>
                                        <li><a href="#">Stylish</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- widget popular post -->
                        <div class="widget widget-popular-post">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Popular Posts</h3>
                                </div>
                                <div class="widget-popular-post-main">
                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="images/blog/r-post-1.jpg" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                <a href="#">Technology</a>
                                                <a href="#">Travel</a>
                                            </div>
                                            <h4><a href="#">That Evening At Bali Beach Was Wounderful</a></h4>
                                        </div>
                                    </div>

                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="images/blog/r-post-2.jpg" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                <a href="#">Technology</a>
                                                <a href="#">Travel</a>
                                            </div>
                                            <h4><a href="#">5 Reasons Why Ladies Prefer To Have Brown Hair</a></h4>
                                        </div>
                                    </div>

                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="images/blog/r-post-3.jpg" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                <a href="#">Technology</a>
                                                <a href="#">Travel</a>
                                            </div>
                                            <h4><a href="#">This post has just gone viral with many views</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- widget tags -->
                        <div class="widget widget-tags">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Trending Tags</h3>
                                </div>    
                                <div class="widget-tags-main">
                                    <a href="#" class="" >Beach</a>
                                    <a href="#" class="" >Dress</a>
                                    <a href="#" class="" >Food</a>
                                    <a href="#" class="" >Fashion</a>
                                    <a href="#" class="" >Gadget</a>
                                    <a href="#" class="" >Holiday</a>
                                    <a href="#" class="" >Nature</a>
                                    <a href="#" class="" >Photography</a>
                                    <a href="#" class="" >Tips</a>
                                    <a href="#" class="" >Travel</a>
                                </div>
                                </div>
                            </div>
                        </div>

                        <!-- widget popular post -->
                        <div class="widget widget-popular-post">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Trending Posts</h3>
                                </div>
                                <div class="widget-popular-post-main">
                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="images/blog/r-post-1.jpg" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                <a href="#">Technology</a>
                                                <a href="#">Travel</a>
                                            </div>
                                            <h4><a href="#">Is It Safe to Have These Things Listening to Us?</a></h4>
                                        </div>
                                    </div>

                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="images/blog/r-post-2.jpg" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                <a href="#">Technology</a>
                                                <a href="#">Travel</a>
                                            </div>
                                            <h4><a href="#">8 Most Awesome Gadgets For 2019</a></h4>
                                        </div>
                                    </div>

                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="images/blog/r-post-3.jpg" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                <a href="#">Technology</a>
                                                <a href="#">Travel</a>
                                            </div>
                                            <h4><a href="#">Top 15 Social Network App You Need To Travel</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget-advertisement">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Advertisement</h3>
                                </div>  
                                <div class="widget-ads-image text-center">
                                    <img src="images/blog-listing/blog_07.jpg" alt="ads">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>    
        </div>
    </section>
    <!--* End Blog*-->

    <div class="mt_instagram mar-bottom-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_01.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_02.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_03.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_04.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_05.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_06.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_07.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_08.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_09.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_10.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_11.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_12.jpg" alt="Image"></a></div>
            </div>
            <div class="sectio-title">
                <h3 class="mar-0"><a href="#">Follow @ Instagram</a></h3>
            </div>
        </div> 
    </div>
{% endblock %}