    {% extends 'home/base/base.html' %}

    {% block body %}
    <!-- Banner -->
    <div id="mt_banner" class="innerbanner">
        <div class="container-fluid">
            <div class="featured-bg bg-orange"></div>
            <div class="banner-caption">
                <div class="banner_caption_text">
                    <h1><a href="#">{{ tag.name }}</a></h1>
                    <p class="tag text-uppercase"><i class="fa fa-sticky-note"></i> {{tag_count}} Posts</p>
                    
                </div>
            </div>
        </div>  
    </div>
    <!-- End Banner -->

    <!--* Blog*-->
    <section id="mt_blog" class="light-bg">
        <div class="container">
            <div class="blog_post_sec blog_post_inner">
                <div class="row">
                    {% for post in post %}
                    {% if forloop.first %}
                    <div class="col-md-8 col-sm-12 mar-bottom-30">
                        <div class="blog-post_wrapper image-wrapper">
                            <div class="blog-post-image">
                                <img src="{{ post.image_url }}" alt="image" class="img-responsive center-block post_img" />
                            </div>
                            <div class="post-content">
                                <div class="post-date">
                                    <p><a href="#">{{post.created_at|timesince}} ago </a></p>
                                </div>
                                <h2 class="entry-title">
                                    <a href="{% url 'single_blog' post.id %}" class="white">{{post.title}}</a>
                                </h2>
                                <div class="item-meta white">
                                    <span>by</span>
                                    <a class="author-name white" href="author.html">{{post.author.author.username}}</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% else %}
                    <div class="col-md-4 col-sm-12 mar-bottom-30">
                        <div class="blog-post_wrapper image-wrapper blog-wrapper-list">
                            <div class="blog-post-image">
                                <img src="{{post.image_url }}" alt="image" class="img-responsive center-block post_img" />
                            </div>

                            <div class="post-content">
                                <div class="post-date">
                                    <p><a href="#">{{post.created_at|timesince}} ago </a></p>
                                </div>
                                <h2 class="entry-title">
                                    <a href="{% url 'single_blog' post.id %}" class="">{{post.title}}</a>
                                </h2>
                                
                                <div class="item-meta">
                                    <span>by</span>
                                    <a class="author-name" href="author.html">{{ post.author.author.username}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    

                    {% if forloop.counter|divisibleby:6 %}
                    <div class="col-md-8 col-sm-12 mar-bottom-30">
                        <div class="blog-post_wrapper image-wrapper">
                            <div class="blog-post-image">
                                <img src="{{post.image_url}}" alt="image" class="img-responsive center-block post_img" />
                            </div>
                            <div class="post-content">
                                <div class="post-date">
                                    <p><a href="#">{{post.created_at|timesince}} ago </a></p>
                                </div>
                                <h2 class="entry-title">
                                    <a href="{% url 'single_blog' post.id %}" class="white">{{post.title}}</a>
                                </h2>
                                <div class="item-meta white">
                                    <span>by</span>
                                    <a class="author-name white" href="author.html">{{post.author.author.username}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}


                    <div class="col-xs-12">
                        <div class="blog-button text-center">
                            <button class="btn-blog">Load More <i class="fa fa-angle-double-right"></i></button>
                        </div>    
                    </div>
                    
                </div>    
            </div>
        </div>
    </section>
    <!--* End Blog*-->

    <div class="mt_instagram">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_01.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_02.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_03.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_04.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_05.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_06.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_07.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_08.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_09.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_10.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_11.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_12.jpg" alt="Image"></a></div>
            </div>
            <div class="sectio-title">
                <h3 class="mar-0"><a href="#">Follow @ Instagram</a></h3>
            </div>
        </div> 
    </div>

    {% endblock %}