{% extends 'dashboard/base/base.html' %}

{% block body %}

<!--
        <div class="col-lg-3 col-md-6 col-xs-6">
            <div class="dashboard-stat color-1">
                <div class="dashboard-stat-content"><h4>{{post_pending_count }}</h4> <span>Pending List</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
                <div class="dashboard-stat-item"><p> You have {{post_pending_count}} Posts in Pending List </p></div>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-6 col-xs-6">
            <div class="dashboard-stat color-4">
                <div class="dashboard-stat-content"><h4>{{post_active_count}}</h4> <span>Active Post</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
                <div class="dashboard-stat-item"><p>You have {{ post_active_count }} posts in Active </p></div>
            </div>
        </div>

        <!-- Item -->
        <div class="col-lg-3 col-md-6 col-xs-6">
            <div class="dashboard-stat color-2">
                <div class="dashboard-stat-content"><h4>{{post_count}}</h4> <span>Total Posts</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
                <div class="dashboard-stat-item"><p> You have {{post_count}} Posts in total </p></div>
            </div>
        </div>


        <!-- Item -->
        <div class="col-lg-3 col-md-6 col-xs-6">
            <div class="dashboard-stat color-3">
                <div class="dashboard-stat-content"><h4>95</h4> <span>Total Reviews</span></div>
                <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
                <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
            </div>
        </div>

    </div>

    {% if post %}
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 traffic">
            <div class="dashboard-list-box">
                <h4 class="gray">Pending Posts</h4>
                {% if post_pending %}
                <div class="table-box">
                    <table class="basic-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th> Post Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in post_active %}
                                <tr>
                                    <td>{{ post.created_at| date}}</td>
                                    <td>{{ post.title}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h3 style="text-align: center; margin-top:20px;"> Congrats ! You have no Post in Pending </h3>
                {% endif %}

            </div>
        </div>  

        <div class="col-lg-6 col-md-12 col-xs-12 traffic">
            <div class="dashboard-list-box">
                <h4 class="gray">Active Posts</h4>
                {% if post_active %}
                <div class="table-box">
                    <table class="basic-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th> Post Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in post_active %}
                                <tr>
                                    <td>{{ post.created_at| date}}</td>
                                    <td>{{ post.title}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h3 style="text-align: center; margin-top:20px;"> Sorry ! You have no Post in Active </h3>
                {% endif %}
            </div>
        </div>  
    </div>
    {% else %}
    <h2> Sorry no Post-stat to show </h2>
    {% endif %}


    <div class="row">      
        <!-- Recent Activity -->
        <div class="col-lg-7 col-md-12 col-xs-12 traffic">
            <div class="dashboard-list-box with-icons margin-top-20">
                <h4 class="gray">Recent Activities</h4>
                <ul>
                    <li>
                        <i class="list-box-icon sl sl-icon-layers"></i> Your listing <strong><a href="#">Hotel Govendor</a></strong> has been approved!
                        <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                    </li>

                    <li>
                        <i class="list-box-icon sl sl-icon-star"></i> Kathy Brown left a review <div class="numerical-rating" data-rating="5.0"></div> on <strong><a href="#">Burger House</a></strong>
                        <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                    </li>

                    <li>
                        <i class="list-box-icon sl sl-icon-heart"></i> Someone bookmarked your <strong><a href="#">Burger House</a></strong> listing!
                        <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                    </li>

                    <li>
                        <i class="list-box-icon sl sl-icon-star"></i> Kathy Brown left a review <div class="numerical-rating" data-rating="3.0"></div> on <strong><a href="#">Airport</a></strong>
                        <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                    </li>

                    <li>
                        <i class="list-box-icon sl sl-icon-heart"></i> Someone bookmarked your <strong><a href="#">Burger House</a></strong> listing!
                        <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-xs-12 traffic">
            <div class="dashboard-list-box margin-top-20 user-list">
                <h4 class="gray">User List</h4>
                <ul>
                    <li>
                        <div class="user-list-item">
                            <div class="user-list-image">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="user-list-content">
                                <h4>Loural Teak</h4>
                                <span>Post Manager</span>
                            </div>
                            <div class="user-btns">
                                <a href="#" class="button">View</a>
                                <a href="#" class="button">Edit</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="user-list-item">
                            <div class="user-list-image">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="user-list-content">
                                <h4>Jim Gordon</h4>
                                <span>Post Manager</span>
                            </div>
                            <div class="user-btns">
                                <a href="#" class="button">View</a>
                                <a href="#" class="button">Edit</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="user-list-item">
                            <div class="user-list-image">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="user-list-content">
                                <h4>Loural Teak</h4>
                                <span>Post Manager</span>
                            </div>
                            <div class="user-btns">
                                <a href="#" class="button">View</a>
                                <a href="#" class="button">Edit</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="user-list-item">
                            <div class="user-list-image">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="user-list-content">
                                <h4>Loural Teak</h4>
                                <span>Post Manager</span>
                            </div>
                            <div class="user-btns">
                                <a href="#" class="button">View</a>
                                <a href="#" class="button">Edit</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="user-list-item">
                            <div class="user-list-image">
                                <img src="images/comment.jpg" alt="">
                            </div>
                            <div class="user-list-content">
                                <h4>Joseph Dean</h4>
                                <span>Post Manager</span>
                            </div>
                            <div class="user-btns">
                                <a href="#" class="button">View</a>
                                <a href="#" class="button">Edit</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- site traffic -->
        <div class="col-lg-4 col-md-4 mar-b-30">
            <div class="dashboard-list-box">
                <h4 class="gray">Site Traffic</h4>
                <div id="chartContainer" style="height: 250px; width: 100%;"></div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 mar-b-30">
            <div class="dashboard-list-box">
                <h4 class="gray">Bar Chart</h4>
                <div id="barchart" style="height: 250px; width: 100%;"></div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="dashboard-list-box">
                <h4 class="gray">Search Engine</h4>
                <div id="piechart" style="height: 250px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<!-- Content / End -->
<!-- Copyrights -->
<div class="copyrights">
    <p>2019 <i class="fa fa-copyright" aria-hidden="true"></i> Suchana by <a href="https://www.cyclonethemes.com/" target="_blank">Cyclone Themes</a></p>

-->
{% endblock %}