{% extends 'home/base/base.html' %}
    <!--* End Header*-->
    <!-- Banner -->
    {% block body %}
    <div id="mt_banner" class="innerbanner">
    	<div class="container-fluid">
    		<div class="featured-bg bg-orange"></div>
			<div class="banner-caption">
				<div class="banner_caption_text">
                    <div class="post-category">
                        <ul>
                            {% for cat in post.catagories.all %}
                            <li class="cat-yellow"><a href="{% url 'catagory' cat.id %} " class="white">{{ cat }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h1><a href="#">{{ post.title }}</a></h1>
                    <div class="item-meta">
                        <span>by</span>
                        <a href="https://cyclonethemes.com/author/sean/">{{ post.author.author.username }}</a><br>
                        <time datetime="2018-02-15">{{post.created_at|timesince}} ago </time>
                    </div>
                </div>
			</div>
    	</div>	
    </div>
    <!-- End Banner -->

    <!--* Blog Main Sec*-->
    <section id="blog_main_sec" class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-9 width70">
                    <!--*Blog Content Sec*-->
                    <div class="blog-detail-main cats-detail">
                        <div class="post_body">
                                {{ post.detail }}
                        </div>
                        <div class="follow_us">
                            <ul class="social_icons">
                                <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="tag mar-top-30">
                            <div class="widget-tags-main">
                                <h5 class="bg-orange">Tags:</h5>
                                {% for tag in post.tags.all %}
                                <a href="{% url 'tag' tag.id %}" class="" >{{ tag }}</a> 
                                {% endfor %}
                            </div>
                        </div>

                        <div class="author_box">
                            <div class="author_img">
                                <img src="images/blog/author.png" alt="Author">
                            </div>
                            <div class="author_bio">
                                <h5>Jhon Snow</h5>
                                <p>Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper an neque auctor. Aenean ligula mi, auctor sed tempus.Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper an neque auctor.
                                    Aenean ligula mi, auctor sed tempus.</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--=========================* Comment Sec*===========================-->
                        <div id="comments">
                            <div class="comments-wrap">
                                <h3 class="single-post_heading blog_heading_border">Comments (4)</h3>
                                <ol class="comments-lists">
                                    <li class="comment">
                                        <div class="activity_rounded">
                                            <img src="images/blog/cmnt-1.jpg" alt="image" /> </div>
                                        <div class="comment-body">
                                            <h4 class="text-left"> NIKLOS DELSON &nbsp;&nbsp;
                                                <small class="date-posted pull-right">18th Mar, 2018</small>
                                            </h4>
                                            <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula. Duis a
                                                enim vel mauris ultrices, leo. </p>
                                            <a href="#" class="pull-left btn-blog">Reply</a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <ol class="children">
                                            <li class="comment">
                                                <div class="activity_rounded">
                                                    <img src="images/blog/cmnt-2.jpg" alt="image" /> </div>
                                                <div class="comment-body">
                                                    <h4 class="text-left"> NIKLOS DELSON &nbsp;&nbsp;
                                                        <small class="date-posted pull-right">18th Mar, 2018</small>
                                                    </h4>
                                                    <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula.
                                                        Duis a enim vel mauris ultrices, leo. </p>
                                                    <a href="#" class="pull-left btn-blog">Reply</a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                    <li class="comment">
                                        <div class="activity_rounded">
                                            <img src="images/blog/cmnt-3.jpg" alt="image" /> </div>
                                        <div class="comment-body">
                                            <h4 class="text-left"> NIKLOS DELSON &nbsp;&nbsp;
                                                <small class="date-posted pull-right">18th Mar, 2018</small>
                                            </h4>
                                            <p> Duis a enim vel mauris ultrices. Nullam aliquet velit ac velit tempus in semper neque auctor. Etiam pellentesque, magna eget lobortis placerat, leo leo consequat ante, non iaculis turpis augue ac ligula. Duis a
                                                enim vel mauris ultrices, leo. </p>
                                            <a href="#" class="pull-left btn-blog">Reply</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                </ol>
                                <div class="leave_comment">
                                    <h3 class="blog_heading_border"> Leave a Comment </h3>
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input placeholder="Name" class="form-control" type="text" required> </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input placeholder="Email" class="form-control" type="email" required> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <textarea placeholder="Message" class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn-blog">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--=========================*End Comment Sec*===========================-->
                        <!--* End Blog Content Sec*-->
                    </div> 
                </div>
              
    {% include 'home/base/sidebar.html' %}
    

     <!--* Blog*-->

    <section id="mt_blog" class="light-bg pad-top-0">
        <div class="container">
            <div class="blog_post_sec blog_post_inner">
                <div class="row">
                    {% for post in r_post %}
                    {% if forloop.first %}
                	<div class="col-md-8 col-sm-12 mar-bottom-30">
                        <div class="blog-post_wrapper image-wrapper">
                            <div class="blog-post-image">
                                <img src="{{post.image_url }}" alt="image" class="img-responsive center-block post_img" />
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <ul>
                                        {% for cat in post.catagories.all %}
                                        {% if forloop.counter|divisibleby:2 %}
                                        <li class="cat-yellow"><a href="{% url 'catagory' cat.id %}" class="white">{{ cat }}</a></li>
                                        {% else %}
                                        <li class="cat-green mar-0"><a href="{% url 'catagory' cat.id %}" class="white">{{ cat }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="post-date">
                                    <p><a href="#">{{post.created_at | timesince}} ago </a></p>
                                </div>
                                <h2 class="entry-title">
                                    <a href=" " class="white">{{post.title }}</a>
                                </h2>
                                <div class="item-meta white">
                                    <span>by</span>
                                    <a class="author-name white" href="#">{{ post.author.author.username }}</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% else %}

                    <div class="col-md-4 col-sm-12 mar-bottom-30">
                        <div class="blog-post_wrapper image-wrapper blog-wrapper-list">
                            <div class="blog-post-image">
                                <img src="{{post.image_url}}" alt="image" class="img-responsive center-block post_img" />
                                <div class="post-category">
                                    <ul>
                                        {% for cat in post.catagories.all %}
                                        {% if forloop.counter|divisibleby:2 %}
                                        <li class="cat-yellow"><a href="{% url 'catagory' cat.id %}" class="white">{{ cat }}</a></li>
                                        {% else %}
                                        <li class="cat-green mar-0"><a href="{% url 'catagory' cat.id %}" class="white">{{ cat }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="post-content">
                                <div class="post-date">
                                    <p><a href="#">{{post.created_at| timesince}} ago</a></p>
                                </div>
                                <h2 class="entry-title">
                                    <a href=" " class="">{{post.title}}</a>
                                </h2>
                                
                                <div class="item-meta">
                                    <span>by</span>
                                    <a class="author-name" href="author.html">{{post.author.author.username }}</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endif %}
                    {% endfor %}
    
                           

                    
                </div>    
            </div>
        </div>
    </section>

    <!--* End Blog*-->

    <div class="mt_instagram">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_01.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_02.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_03.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_04.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_05.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_06.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_07.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_08.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_09.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_10.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_11.jpg" alt="Image"></a></div>
                <div class="col-sm-2 col-xs-6"><a href="#"><img src="images/insta/insta_12.jpg" alt="Image"></a></div>
            </div>
            <div class="sectio-title">
                <h3 class="mar-0"><a href="#">Follow @ Instagram</a></h3>
            </div>
        </div> 
    </div>

    {% endblock %}