                        <!-- widget category -->
                        <div class="widget widget-category">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Category</h3>
                                </div>
                                <div class="widget-category-main">
                                    <ul class="widget-category-list">
                                        {% for cat in catagories %}
                                        <li><a href="{% url 'catagory' cat.id %}">{{ cat }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- widget popular post -->
                        <div class="widget widget-popular-post">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Popular Posts</h3>
                                </div>
                                {% for post in popular %}
                                <div class="widget-popular-post-main">
                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="{{ post.image_url }}" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                {% for cat in post.catagories.all %}
                                                <a href="{% url 'catagory' cat.id %}">{{ cat }}</a>
                                                {% endfor %}
                                            </div>
                                            <h4><a href="{% url 'single_blog' post.id %}">{{ post.title }}</a></h4>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- widget tags -->
                        <div class="widget widget-tags">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Trending Tags</h3>
                                </div>    
                                <div class="widget-tags-main">
                                    {% for tag in tags %}
                                    <a href="{% url 'tag' tag.id %}" class="" >{{tag}}</a>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                        </div>

                        <!-- widget popular post -->
                        <div class="widget widget-popular-post">
                            <div class="widget-content">
                                <div class="widget-title">
                                    <h3 class="white">Trending Posts</h3>
                                </div>
                                <div class="widget-popular-post-main">
                                    {% for post in popular %}
                                    <div class="widget-posts">
                                        <div class="post-thumb">
                                            <img src="{{post.image_url}}" alt=".....">
                                        </div>
                                        <div class="post-title">
                                            <div class="widget-cats">
                                                {% for cat in post.catagories.all %}
                                                <a href="{% url 'catagory' cat.id %}">{{cat}}</a>
                                                {% endfor %}
                                            </div>
                                            <h4><a href="{% url 'single_blog' post.id %}">{{post.title}}</a></h4>
                                        </div>
                                    </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>    
            </div>    
        </div>
    </section>
    <!--* End Blog*-->