

<form method="POST" action="" style="margin-top: 300px;">
    {% csrf_token %}

        <div class="form-group col">
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Username" required>
        </div>
        <div class="form-group col">
            <input type="password" name="password" class="form-control" id="user" aria-describedby="emailHelp" placeholder="Your password" required>
        </div>

    <input type="submit">
</form>

